extends template
block items
    - var title = 'Gallery'
block content
    div.grid-container.grid-container-for-gallery
        div.topic1.block
            div.image-with-text
                img(src='img/ngc3293.jpg')
                div.text-on-image Chandra Sees Stellar X-rays Exceeding Safety Limits
        div.topic2.block
            div.image-with-text
                img(src='img/hubble-hipassj.png')
                div.text-on-image Peekaboo! Tiny, Hidden Galaxy Provides a Peek Into the Past
        div.topic3.block
            div.image-with-text
                img(src='img/hubble.png')
                div.text-on-image Hubble Determines Mass of Isolated Black Hole Roaming Our Milky Way Galaxy
        div.topic4.block
            div.image-with-text
                img(src='img/pia24624.jpg')
                div.text-on-image Perseverance’s Left Navcam Views Ingenuity During its Third Flight
        div.topic5.block
            div.image-with-text
                img(src='img/hubble-ngc.jpg')
                div.text-on-image Hubble Views a Star-Studded Cosmic Cloud
        div.topic6.block
            div.image-with-text
                img(src='img/30dor.jpg')
                div.text-on-image The Enduring Stellar Lifecycle in 30 Doradus
        div.topic7.block
            div.image-with-text
                img(src='img/pia23440-1600.jpg')
                div.text-on-image Become a Jovian Vortex Hunter!
        div.topic8.block
            div.image-with-text
                img(src='img/iss068e036653.jpg')
                div.text-on-image The sun's glint beams off a partly cloudy Pacific Ocean